#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

th {
	text-align: center;
	padding: 5px;
	border: 3px solid black;
}

.calendar-wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: end;
	width: 100%;
	border: 1px solid lightblue;
	position: relative;
}

.test {
	position: relative;
	width: calc(100% - 50px);
	border: 1px solid white;
}

.calendar {
	border: 5px solid white;
}

.calendar-container {
	z-index: 1000000;
	box-sizing: border-box;
	position: absolute;
	display: none;
	top: 100%;
	right: 0;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}
